/* SegmentedControl.css */
.segmented-control {
  display: flex;
  background-color: #e6f7ff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.button {
  flex: 1;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9em;
}

.button:hover {
}

.active {
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

@media screen and (max-width: 600px) {
  .button {
    padding: 10px;
    font-size: 0.8em;
  }
  .segmented-control {
    margin: 0 10px;
  }
}
